.container {
    max-width: max-content;
    display: grid;
    justify-items: center;
    text-align: center;
    margin: auto;
}

.stage {
    max-width: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4px;
}

.square {
    background-color: #dfdad9;
    width: 100px;
    height: 100px;
    margin-bottom: 4px;
}

.x {

}

.x:after {
    content: "\2694";
    font-size: 55px;
    line-height: 100px;
}

.o {

}

.o:after {
    content: "\1F6E1";
    font-size: 55px;
    line-height: 100px;
}