/* board */

body { text-align: center; }

.square {
    background-color: #dfdad9;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.x, .o { position: relative; }

.x::after {
    position: absolute;
    content: "\2694";
    font-size: 55px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.o::after {
    position: absolute;
    content: "\1F6E1";
    font-size: 55px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* modal */

.modalBtn {
    padding: 20px;
    font-size: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
}

.modal .content {
    background-color: #D3D3D3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
}