body { text-align: center; }

.square {
    background-color: #dfdad9;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.x, .o { position: relative; }

.x::after {
    position: absolute;
    content: "\2694";
    font-size: 55px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.o::after {
    position: absolute;
    content: "\1F6E1";
    font-size: 55px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}