:root {
    --margin-center-controls: 180px;
}

body {
    background-color: #cdffbb;
}

#container {
    background-color: #89bc79;
    border-radius: 10px;
    position: relative;
    max-width: 640px;
    max-height: 360px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

#video {
    width: 100%;
}

#controls {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#rewind, #fast-forward, #close, #play,
#pause, #volumes, #fast-forward-time, #rewind-time {
    position: absolute;
    width: 40px;
    cursor: pointer;
}

#close {
    right: 40px;
    top: 20px;
}

#rewind {
    top: var(--margin-center-controls);
    left: 120px;
}

#play {
    top: var(--margin-center-controls);
    left: 280px;
}

#pause {
    top: var(--margin-center-controls);
    left: 340px;
}

#fast-forward {
    top: var(--margin-center-controls);
    left: 500px;
}

#volumes > img {
    width: 40px;
}

#volumes {
    top: 20px;
}

#fast-forward-time {
    top: 330px;
    right: 50px;
}

#rewind-time {
    top: 330px;
    right: 100px;
}