* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cdffbb;
}

#container {
    background-color: blue;
    display: grid;
    padding: 20px;
    max-width: max-content;
}

#container video {
    width: 640px;
    height: 360px;
}

#container img {
    width: 40px;
}

#controls {
    position: absolute;
    width: 640px;
    height: 360px;
    display: grid;
    grid-template-areas: ". . . . . close"
                         ". rewind play pause . fast-forward"
                         "volume-down volume-up mute . rewind-time fast-forward-time";
}

#close {
    grid-area: close;

}

#rewind {
    grid-area: rewind;
}

#play {
    grid-area: play;
}

#pause {
    grid-area: pause;
}

#fast-forward {
    grid-area: fast-forward;
}

#volume-down {
    grid-area: volume-down;
}

#volume-up {
    grid-area: volume-up;
}

#mute {
    grid-area: mute;
}

#rewind-time {
    grid-area: rewind-time;
}

#fast-forward-time {
    grid-area: fast-forward-time;
}